section.examples header {
  font-size: 1.2em;
  font-weight: bold;
}

.files a {
  margin: 0 0.25em;
}

rect {
  fill: none;
  pointer-events: all;
}

.link {
  stroke: #999;
  fill: none;
}

.node {
  fill: black;
}

.cursor {
  fill: none;
}

.arrow {
  fill: #999;
  stroke: #999;
  // fill: rgba(0, 0, 0, 0.2);
  // stroke: rgba(0, 0, 0, 0.2);
}

dependency-tree {
  .node circle {
    cursor: pointer;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size: 11px;
  }

  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
}
