<div class="jumbotron">
  <h1>package {{package.Name}}</h1>
  <p>{{package.Synopsis}}</p>
  <p ng-show="package">Last Updated {{(package.Updated | dateDiff).humanize(true)}}</p>
  <a ng-show="package" class="btn btn-sm btn-default" ng-click="refresh(package.ImportPath)">Refresh</a>
  <a ng-show="package" target="_blank" ng-href="http://localhost:8080/{{package.ImportPath}}">Old Version</a>
</div>

<div ng-show="package" class="container">
  <code>import {{package.ImportPath}}</code>
  <p ng-repeat="p in package.docPs">{{p}}</p>

  <section class="index">
    <h2>Index</h2>
    <div>
      <div ng-if="package.Consts"><a ng-href="#/{{::package.ImportPath}}#consts">Constants</a></div>
      <div ng-if="package.Vars"><a ng-href="#/{{::package.ImportPath}}#pkg-vars">Variables</a></div>
      <div ng-repeat="func in package.Funcs track by func.Name">
        <a ng-href="#/{{::package.ImportPath}}#{{func.Name}}">{{func.Decl.Text}}</a>
      </div>
      <div ng-repeat="type in package.Types track by type.Name">
        <a ng-href="#/{{::package.ImportPath}}#{{type.Name}}">type {{type.Name}}</a>
        <ul>
          <li ng-repeat="func in type.Funcs track by func.Name">
            <a ng-href="#/{{::package.ImportPath}}#{{type.Name}}-{{func.Name}}">{{func.Decl.Text}}</a>
          </li>
          <li ng-repeat="method in type.Methods track by method.Name">
            <a ng-href="#/{{::package.ImportPath}}#{{type.Name}}-{{method.Name}}">{{method.Decl.Text}}</a>
          </li>
        </ul>
      </div>
    </div>

    <section class="examples" ng-if="allExamples.length">
      <h4>Examples</h4>
      <a ng-repeat="ex in allExamples" ng-href="#/{{::package.ImportPath}}#{{ex.Name}}">
        {{ex.Code.Text}}
      </a>
    </section>

    <section class="files">
      <h4>Files</h4>
      <a ng-repeat="file in package.Files track by file.Name" ng-href="{{file.URL}}">{{file.Name}}</a>
    </section>

  </section>


  <section class="consts" ng-if="package.Consts.length">
    <header id="consts">
      <h2>Constants</h2>
    </header>
    <div>
      <div ng-repeat="const in package.Consts">
        <doc-base data="const"></doc-base>
      </div>
    </div>
  </section>

  <section class="vars" ng-if="package.Vars.length">
    <header id="pkg-vars">
      <h2 ng-click="show = !show">Variables</h2>
    </header>
    <div ng-if="show">
      <div ng-repeat="var in package.Vars">
        <doc-base data="var"></doc-base>
      </div>
    </div>
  </section>

  <section class="funcs" ng-if="package.Funcs.length">
    <header>
      <h2>Funcs</h2>
    </header>
    <div ng-repeat="func in package.Funcs track by func.Name">
      <h3 id="{{func.Name}}">{{func.Name}}</h3>
      <doc-base data="func"></doc-base>
    </div>
  </section>

  <section class="types" ng-if="package.Types.length">
    <header>
      <h2>Types</h2>
    </header>
    <div ng-repeat="type in package.Types track by type.Name">
      <h3 id="{{type.Name}}">{{type.Name}}</h3>
      <doc-base data="type"></doc-base>

      <section class="funcs" ng-if="type.Funcs.length">
        <h3>{{type.Name}} Functions</h3>
        <div ng-repeat="func in type.Funcs track by func.Name">
          <h4 id="{{type.Name}}-{{func.Name}}">{{func.Name}} <a ng-href="#/{{package.ImportPath}}#{{type.Name}}-{{func.Name}}"><span class="glyphicon glyphicon-link"></span></a></h4>
          <doc-base data="func"></doc-base>
        </div>
      </section>

      <section class="methods" ng-if="type.Methods.length">
        <h3>{{type.Name}} Methods</h3>
        <div ng-repeat="meth in type.Methods track by meth.Name">
          <h4 id="{{type.Name}}-{{meth.Name}}">func ({{meth.Recv}}) {{meth.Name}}</h4>
          <doc-base data="meth"></doc-base>
        </div>
      </section>
    </div>
  </section>

  <section class="imports col-md-6" ng-if="package.Imports.length">
    <h2>Imports</h2>
    <div ng-repeat="imp in package.Imports track by imp">
      <a ng-href="#/{{imp}}">{{imp}}</a>
    </div>
  </section>
</div>

<force-graph root="pkgs.current" nodes="pkgs" links="edges"></force-graph>
