<div class="jumbotron">
  <h1>package {{package.ProjectName}}</h1>
  <p>{{package.Synopsis}}</p>
  <p>Last Updated {{(package.Updated | dateDiff).humanize(true)}}</p>
</div>

<div class="container">
  <section class="imports" ng-if="package.Imports.length">
    <h2>Imports</h2>
    <div ng-repeat="imp in package.Imports">
      <a ng-href="#/{{imp}}">{{imp}}</a>
    </div>
  </section>

  <section class="consts" ng-if="package.Consts.length">
    <header>
      <h2>Consts</h2>
    </header>
    <div ng-repeat="const in package.Consts">
    <doc-base data="const"></doc-base>
    </div>
  </section>

  <section class="funcs" ng-if="package.Funcs.length">
    <header>
      <h2>Funcs</h2>
    </header>
    <div ng-repeat="func in package.Funcs">
      <h3>{{func.Name}}</h3>
      <doc-base data="func"></doc-base>
    </div>
  </section>

  <section class="types" ng-if="package.Types.length">
    <header>
      <h2>Types</h2>
    </header>
    <div ng-repeat="type in package.Types">
      <h3>{{type.Name}}</h3>
      <doc-base data="type"></doc-base>

      <section class="funcs" ng-if="type.Funcs.length">
        <h3>{{type.Name}} Functions</h3>
        <div ng-repeat="func in type.Funcs">
          <h4>{{func.Name}}</h4>
          <doc-base data="func"></doc-base>
        </div>
      </section>

      <section class="methods" ng-if="type.Methods.length">
        <h3>{{type.Name}} Methods</h3>
        <div ng-repeat="meth in type.Methods">
          <h4>func ({{meth.Recv}}) {{meth.Name}}</h4>
          <doc-base data="meth"></doc-base>
        </div>
      </section>
    </div>
  </section>
</div>

<a class="btn btn-sm btn-default" ng-click="refresh(package.ImportPath)">Refresh</a>
